In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('files/NFLPlaybyPlay2015.csv',low_memory = False)

In [3]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd. set_option('display.max_colwidth', 199)

How many rows and columns are in the data?

In [4]:
# Write code that calculates the number of rows and columns and presents them in a sentence.
print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns.')

The data contains 46129 rows and 66 columns.

In [5]:
df.columns

Index(['Unnamed: 0', 'Date', 'GameID', 'Drive', 'qtr', 'down', 'time',
       'TimeUnder', 'TimeSecs', 'PlayTimeDiff', 'SideofField', 'yrdln',
       'yrdline100', 'ydstogo', 'ydsnet', 'GoalToGo', 'FirstDown', 'posteam',
       'DefensiveTeam', 'desc', 'PlayAttempted', 'Yards.Gained', 'sp',
       'Touchdown', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint', 'Safety',
       'PuntResult', 'PlayType', 'Passer', 'PassAttempt', 'PassOutcome',
       'PassLength', 'PassLocation', 'InterceptionThrown', 'Interceptor',
       'Rusher', 'RushAttempt', 'RunLocation', 'RunGap', 'Receiver',
       'Reception', 'ReturnResult', 'Returner', 'BlockingPlayer', 'Tackler1',
       'Tackler2', 'FieldGoalResult', 'FieldGoalDistance', 'Fumble',
       'RecFumbTeam', 'RecFumbPlayer', 'Sack', 'Challenge.Replay',
       'ChalReplayResult', 'Accepted.Penalty', 'PenalizedTeam', 'PenaltyType',
       'PenalizedPlayer', 'Penalty.Yards', 'PosTeamScore', 'DefTeamScore',
       'ScoreDiff', 'AbsScoreDiff', 'Season'],
      dtype='object')

How many teams are there?

In [6]:
len(list(df['posteam'].unique()))

33

List the teams in alphabetical order.

In [7]:
teams = list(df['posteam'].dropna().unique())
teams.sort()
print(teams)

['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL', 'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAC', 'KC', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'PIT', 'SD', 'SEA', 'SF', 'STL', 'TB', 'TEN', 'WAS']

In [8]:
df.loc[df['Fumble']==1].count()[-1]

627

In [21]:
df.groupby(['posteam'])['Fumble'].sum().sort_values(ascending=False).head(5)

posteam
ATL    28
PHI    27
TEN    26
OAK    26
CLE    26
Name: Fumble, dtype: int64

In [9]:
df.groupby(['posteam'])['Fumble'].sum().nlargest(5)

posteam
ATL    28
PHI    27
CLE    26
OAK    26
TEN    26
Name: Fumble, dtype: int64

In [15]:
df.groupby(['posteam'])['Penalty.Yards'].sum().sort_values(ascending=False)

posteam
GB     1304
TB     1152
SD     1117
NE     1069
IND    1067
ARI    1060
PHI    1050
NYG    1048
PIT    1041
BUF    1033
OAK    1012
TEN    1004
STL     978
CIN     973
CHI     971
HOU     969
KC      950
CLE     940
MIA     920
WAS     899
SF      853
NO      851
ATL     845
SEA     840
DAL     822
CAR     820
JAC     813
BAL     809
DET     764
MIN     730
DEN     698
NYJ     692
Name: Penalty.Yards, dtype: int64

In [10]:
sacks = df.loc[df['Sack']==1,['Tackler1','Sack']]

In [11]:
sacks.head()

        Tackler1  Sack
6        M.Brown     1
16      B.Dupree     1
23   D.Hightower     1
107      W.Allen     1
163     J.Sheard     1

In [12]:
sacks = sacks.groupby(['Tackler1']).sum()

In [13]:
sacks.sort_values(by=['Sack'], inplace=True, ascending=False)

In [18]:
sacks['Sack'].nlargest(6) #Bott: figure out how to top 5 including tie, so six total

Tackler1
J.Watt      17
C.Dunlap    14
K.Mack      14
E.Ansah     13
C.Jones     13
C.Jordan    13
Name: Sack, dtype: int64

In [22]:
interceptions = df[df['InterceptionThrown']==1]

In [23]:
interceptions.shape

(468, 66)

In [24]:
interceptions = interceptions[['Passer','desc','InterceptionThrown']].head(100)

In [25]:
interceptions.head()

,Passer,desc,InterceptionThrown
145,B.Roethlisberger,"(7:09) (No Huddle, Shotgun) B.Roethlisberger pass deep left intended for D.Heyward-Bey INTERCEPTED by D.Harmon at NE 7. D.Harmon ran ob at NE 7 for no gain.",1
334,J.Cutler,"(3:55) (No Huddle, Shotgun) J.Cutler pass short right intended for M.Bennett INTERCEPTED by C.Matthews at GB 20. C.Matthews to CHI 32 for 48 yards (J.Bushrod). PENALTY on GB-N.Perry, Illegal Bloc...",1
366,B.Hoyer,(11:14) B.Hoyer pass short right intended for D.Hopkins INTERCEPTED by M.Peters at HOU 13. M.Peters to HOU 13 for no gain (D.Hopkins).,1
601,R.Fitzpatrick,"(10:07) R.Fitzpatrick pass deep left intended for B.Marshall INTERCEPTED by T.Gipson at CLE 17. T.Gipson to CLE 17 for no gain (B.Marshall). FUMBLES (B.Marshall), RECOVERED by NYJ-B.Marshall at C...",1
649,J.Manziel,(10:52) (Shotgun) J.Manziel pass short left intended for B.Hartline INTERCEPTED by M.Williams at CLE 46. M.Williams pushed ob at CLE 28 for 18 yards (J.Bitonio).,1