# Pandas Fundamentals

This notebook provides an introduction to the `pandas` package. This notebook also borrows heavily from the book *Data Science Handbook*, which was written by Jake VanderPlas and is available at https://jakevdp.github.io/PythonDataScienceHandbook/ (accessed 12/17/2019) and from the pandas documentation.

# What is Pandas?
<a id="pandas"> </a>

The `pandas` package is one of the most popular Python tools for data management and manipulation. `pandas` is built *on top* of `numpy`. Thus, much of the functionality and methods that are available in `numpy` are also available in `pandas`. 

From https://en.wikipedia.org/wiki/Pandas_(software) (accessed 1/7/2018):

>Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license. The name is derived from the term "panel data", an econometrics term for multidimensional, structured data sets. Major features of the library are:

> - DataFrame object for data manipulation with integrated indexing.
> - Tools for reading and writing data between in-memory data structures and different file formats.
> - Data alignment and integrated handling of missing data.
> - Reshaping and pivoting of data sets.
> - Label-based slicing, fancy indexing, and subsetting of large data sets.
> - Data structure column insertion and deletion.
> - Group by engine allowing split-apply-combine operations on data sets.
> - Data set merging and joining.
> - Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
> - Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.
> The library is highly optimized for performance, with critical code paths written in Cython or C.

The following code block uses the *import - as* approach to import Pandas. The alias *pd* is a standard convention. We also import NumPy.

In [10]:
%conda list | grep pandas

pandas                    1.3.4                    pypi_0    pypi

Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import numpy as np
from pathlib import Path
import pprint as pp

# Pandas Objects
<a id="Pandas_Objects"> </a>

Pandas objects can be thought of as enhanced NumPy arrays. The two main Pandas objects are:
1. The Pandas `Series`, which is a one-dimensional array of indexed data. Accessing a single column of a DataFrame results in a `Series` object.
2. The Pandas `DataFrame`, which is two-dimensional array of indexed data. A `DataFrame` is a container for multiple series objects. 

The fact that Pandas objects are indexed allows us to lookup and access values by the index. Also, in contrast to NumPy arrays which are for storing numeric data, Pandas objects can store pretty much any Python data type.

## Pandas `Series` Object
To demonstrate the Pandas `Series` object, suppose we have the following 24 data points for sales over a 24 month period stored in a list object named `sales`. Also, we have a list object named `month` that stores the month that the sales occured in using the date format YYYY-MM.

In [12]:
month = ['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
         '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
         '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
         '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
         '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
         '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31']

sales = [ 872,  873,  990, 1129, 
          969,  964, 1148,  614,
         1068, 1138, 1057,  748,
         1255, 1016, 1058, 1064, 
         1229, 1060, 1144, 1119, 
         1188,  817,  638, 1205]

Similar capabilities are found in NumPy (remember that Pandas is based on NumPy), but in many cases you may find NumPy limitations to be cumbersome. For example, it would be much easier to use month names AS the index rather than be limited to the integer index provided by NumPy.

In [13]:
# What type of object is month? sales?
sales_data = [month, sales]
np_sales = np.array(sales_data)
print(np_sales.shape)

(2, 24)

In [14]:
# Using numpy, if you want sales (row 1) for April, 2015 you have to know which column is April (column 3)
print(np_sales)
print("April 2015 sales: ",np_sales[1,3])

# If you want to format it for currency, you can use the format method
print("April 2015 sales: ${:0,.2f}".format(float(np_sales[1,3])).replace('$-','-$'))

[['2015-01-31' '2015-02-28' '2015-03-31' '2015-04-30' '2015-05-31'
  '2015-06-30' '2015-07-31' '2015-08-31' '2015-09-30' '2015-10-31'
  '2015-11-30' '2015-12-31' '2016-01-31' '2016-02-29' '2016-03-31'
  '2016-04-30' '2016-05-31' '2016-06-30' '2016-07-31' '2016-08-31'
  '2016-09-30' '2016-10-31' '2016-11-30' '2016-12-31']
 ['872' '873' '990' '1129' '969' '964' '1148' '614' '1068' '1138' '1057'
  '748' '1255' '1016' '1058' '1064' '1229' '1060' '1144' '1119' '1188'
  '817' '638' '1205']]
April 2015 sales:  1129
April 2015 sales: $1,129.00

The following code block uses the two lists to create a Pandas `Series` that is stored in a variable named `sales_series`.

In [15]:
sales_series = pd.Series(sales, index = month)

print(f'The sales_series series is\n{sales_series}')

The sales_series series is
2015-01-31     872
2015-02-28     873
2015-03-31     990
2015-04-30    1129
2015-05-31     969
2015-06-30     964
2015-07-31    1148
2015-08-31     614
2015-09-30    1068
2015-10-31    1138
2015-11-30    1057
2015-12-31     748
2016-01-31    1255
2016-02-29    1016
2016-03-31    1058
2016-04-30    1064
2016-05-31    1229
2016-06-30    1060
2016-07-31    1144
2016-08-31    1119
2016-09-30    1188
2016-10-31     817
2016-11-30     638
2016-12-31    1205
dtype: int64

The following code block shows how we can access individual values, or a range of values, in the series.

In [16]:
# Get the sales for April 2015
print("April sales:", sales_series['2015-04-30'])

April sales: 1129

In [17]:
# Get the sales for April 2015 through December 2015 
sales_series['2015-04-30':'2015-12-31']

2015-04-30    1129
2015-05-31     969
2015-06-30     964
2015-07-31    1148
2015-08-31     614
2015-09-30    1068
2015-10-31    1138
2015-11-30    1057
2015-12-31     748
dtype: int64

In [18]:
# Slice the Series object using Integers
# Get the first five rows (Index 0 - 4, not including 5)
sales_series[0:5]

2015-01-31     872
2015-02-28     873
2015-03-31     990
2015-04-30    1129
2015-05-31     969
dtype: int64

Using NumPy-like syntax, we can do computations on `Series` objects. The following code blocks provides examples.

[Back to Table of Contents](#Table_of_Contents)<br>

In [19]:
# Compute the total sales for June 2015 through December 2015 
sales_series['2015-06-30':'2015-12-31'].sum()

6737

In [20]:
# Compute the mean sales for June 2015 through December 2015 
sales_series['2015-06-30':'2015-12-31'].mean()

962.4285714285714

In [21]:
# Compute the maximum sales for June 2015 through December 2015 
sales_series['2015-06-30':'2015-12-31'].max()

1148

## Pandas `DataFrame` Object

We will now look at Pandas `DataFrame` object.

In [22]:
# Use the date_range function to populate a dataframe with a certain number of periods
dates = pd.date_range('20200101', periods=12,freq='M')
print(dates)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [23]:
# Fill the DataFrame with random numbers and assign them to columns (A, B, C, D)
df_random = pd.DataFrame(np.random.randn(12, 4), index=dates, columns=list('ABCD'))
df_random.head(12)

                   A         B         C         D
2020-01-31 -0.100980  0.166956 -0.243168 -1.132647
2020-02-29  1.675407 -0.121766  0.537614 -0.612574
2020-03-31 -0.655403  0.113477  0.366117  1.065132
2020-04-30 -0.924735 -0.067506  0.762216  0.106733
2020-05-31  0.409601 -0.786463  0.153018  0.172242
2020-06-30  0.867373  0.126590 -0.723355 -0.980460
2020-07-31 -0.395292 -0.315664  0.587020 -0.751523
2020-08-31  0.058093  0.034583 -0.696731 -0.246142
2020-09-30  1.011890  1.039609 -0.435751 -1.249472
2020-10-31 -0.156690  1.001095  0.195467 -0.341698
2020-11-30  0.522625  0.458114  0.810300 -0.818773
2020-12-31 -1.626693  0.318010 -0.841297  0.459474

In [24]:
# Display a basic description of your DataFrame
df_random.describe()

               A          B          C          D
count  12.000000  12.000000  12.000000  12.000000
mean    0.057100   0.163920   0.039288  -0.360809
std     0.910056   0.510531   0.604061   0.701791
min    -1.626693  -0.786463  -0.841297  -1.249472
25%    -0.460320  -0.081071  -0.500996  -0.859195
50%    -0.021443   0.120034   0.174243  -0.477136
75%     0.608812   0.353036   0.549966   0.123110
max     1.675407   1.039609   0.810300   1.065132

In [25]:
# Sort the DataFrame by values
df_random.sort_values(by='B')

                   A         B         C         D
2020-05-31  0.409601 -0.786463  0.153018  0.172242
2020-07-31 -0.395292 -0.315664  0.587020 -0.751523
2020-02-29  1.675407 -0.121766  0.537614 -0.612574
2020-04-30 -0.924735 -0.067506  0.762216  0.106733
2020-08-31  0.058093  0.034583 -0.696731 -0.246142
2020-03-31 -0.655403  0.113477  0.366117  1.065132
2020-06-30  0.867373  0.126590 -0.723355 -0.980460
2020-01-31 -0.100980  0.166956 -0.243168 -1.132647
2020-12-31 -1.626693  0.318010 -0.841297  0.459474
2020-11-30  0.522625  0.458114  0.810300 -0.818773
2020-10-31 -0.156690  1.001095  0.195467 -0.341698
2020-09-30  1.011890  1.039609 -0.435751 -1.249472

In [26]:
# To display only the values, use the to_numpy() function
df_random.to_numpy()

array([[-0.10097992,  0.16695589, -0.24316799, -1.13264741],
       [ 1.67540702, -0.12176565,  0.53761392, -0.612574  ],
       [-0.65540318,  0.11347743,  0.3661173 ,  1.06513211],
       [-0.92473468, -0.06750591,  0.76221624,  0.1067328 ],
       [ 0.40960093, -0.78646323,  0.15301848,  0.17224242],
       [ 0.86737271,  0.12658989, -0.72335525, -0.98046002],
       [-0.39529182, -0.31566418,  0.58702044, -0.75152312],
       [ 0.05809339,  0.03458336, -0.69673121, -0.2461423 ],
       [ 1.0118897 ,  1.03960917, -0.43575093, -1.24947198],
       [-0.15668995,  1.00109498,  0.19546712, -0.34169811],
       [ 0.52262536,  0.45811408,  0.81030046, -0.81877288],
       [-1.62669281,  0.31800951, -0.84129686,  0.45947391]])

In [27]:
# The following code provides four lists that provide information on the sales of two products, A and B,
#   in three stores, W1, E1, and E2, over 10 years.

stores_list = ['W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 
               'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 
               'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 
               'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 
               'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 
               'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2']

dates_list = ['12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', 
              '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', 
              '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', 
              '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', 
              '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', 
              '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', 
              '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', 
              '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', 
              '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', 
              '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016']

product_list = ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 
                'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 
                'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 
                'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B']

sales_list = [1957, 1968, 1983, 2001, 1894, 1850, 2045, 1860, 1784, 1856, 
              1891, 1822, 1846, 1903, 1924, 1897, 1890, 1858, 1871, 1880, 
              1858, 1909, 1977, 1717, 1751, 1797, 1804, 1845, 1895, 1713, 
              1904, 1812, 1733, 1868, 1872, 1909, 2034, 1856, 1813, 1806, 
              1862, 1800, 1840, 1882, 1819, 1854, 1716, 1845, 1877, 1879, 
              1696, 1783, 1799, 1852, 1793, 1877, 1687, 1824, 1839, 1889]

The following code block first uses the list to construct a Python dictionary, uses the dictionary to define a Pandas `DataFrame` object named `sales_data`, and uses the `head()` method to print the first 10 rows of the `DataFrame`.

<div class="alert alert-block alert-info">
    <b>The <i>head()</i> function:</b> The <i>head()</i> function is a Pandas object method that prints the first five rows of a Pandas object by default. Specifying an integer argument instructs Pandas to return the specified number of rows from the beginning of the object. Similar to the <i>head()</i> method, the <i>tail()</i> method returns records from the end of a Pandas object.</div>

In [28]:
sales_dictionary = {'Store': stores_list,
                    'Product': product_list,
                    'Sales': sales_list,
                    'Year': dates_list}
# Although a dictionary is useful, it's hard to visualize and less convenient than a DataFrame
print(sales_dictionary)

{'Store': ['W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'W1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E1', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2', 'E2'], 'Product': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'], 'Sales': [1957, 1968, 1983, 2001, 1894, 1850, 2045, 1860, 1784, 1856, 1891, 1822, 1846, 1903, 1924, 1897, 1890, 1858, 1871, 1880, 1858, 1909, 1977, 1717, 1751, 1797, 1804, 1845, 1895, 1713, 1904, 1812, 1733, 1868, 1872, 1909, 2034, 1856, 1813, 1806, 1862, 1800, 1840, 1882, 1819, 1854, 1716, 1845, 1877, 1879, 1696, 1783, 1799, 1852, 1793, 1877, 1687, 1824, 1839, 1889], 'Year': ['12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016', '12/31/2007', '12/31/2008', '12/31/2009', '12/31/2010', '12/31/2011', '12/31/2012', '12/31/2013', '12/31/2014', '12/31/2015', '12/31/2016']}

In [29]:
sales_data = pd.DataFrame.from_dict(sales_dictionary)

sales_data.head(10)

  Store Product  Sales        Year
0    W1       A   1957  12/31/2007
1    W1       A   1968  12/31/2008
2    W1       A   1983  12/31/2009
3    W1       A   2001  12/31/2010
4    W1       A   1894  12/31/2011
5    W1       A   1850  12/31/2012
6    W1       A   2045  12/31/2013
7    W1       A   1860  12/31/2014
8    W1       A   1784  12/31/2015
9    W1       A   1856  12/31/2016

A key thing to note is that the format of the `DataFrame` object is very similar to what you would see when working with Microsoft Excel worksheets. 

There are many other ways to create Pandas objects from scratch. However, for the sake of space, we will stop here. See https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html or use Google to find other examples.

# Importing Data

One of the most useful applications of Pandas is that it provides users with an easy way to import data from other sources. The following table was copied from https://pandas.pydata.org/pandas-docs/stable/io.html. Note that the hyperlinks will take you to sites descibing the different file formats or methods.

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="http://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="http://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="https://pandas.pydata.org/pandas-docs/stable/io.html#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

The following code block shows how the `read_csv` method that is available in Pandas can be used to read a file from the Internet that uses semi-colon delimiters, store it in an object named `my_data`, and use the `head()` method to print the first fives rows of the `DataFrame` object.

In [30]:
my_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00409/Daily_Demand_Forecasting_Orders.csv',
           delimiter = ';')

my_data.head()

,"Week of the month (first week, second, third, fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [31]:
# After importing the data, it may be helpful to view the column data types
#   Use the dtypes attribute
my_data.dtypes

Week of the month (first week, second, third, fourth or fifth week      int64
Day of the week (Monday to Friday)                                      int64
Non-urgent order                                                      float64
Urgent order                                                          float64
Order type A                                                          float64
Order type B                                                          float64
Order type C                                                          float64
Fiscal sector orders                                                  float64
Orders from the traffic controller sector                               int64
Banking orders (1)                                                      int64
Banking orders (2)                                                      int64
Banking orders (3)                                                      int64
Target (Total orders)                                                 float64
dtype: object

Pandas can also read directly from a compressed file. Here is the code for you to directly read a compressed file to a dataframe.
```Python
df = pd.read_csv('Sales_Data.csv.gz', compression = 'gzip')
```

## Importing data from the clipboard

Another method of obtaining data is to read it in from the clipboard. The clipboard is a location in memory where recently copied data can be accessed. It is where data are stored after cutting or copying.

In [32]:
# Copy some table data 
import pandas as pd
df = pd.read_clipboard(header=None)
df

EmptyDataError: No columns to parse from file

# Indexing and Selecting Data

Although we have already seen some ways to access data in Pandas objects, this section will look at such methods in more detail.

## Indexing and Selecting Data in Pandas `Series` Objects

Recall the `sales_series` object that we created earlier.

In [33]:
# To increase the number of columns Jupyter Lab will display at a time use set_option
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [34]:
sales_series

2015-01-31     872
2015-02-28     873
2015-03-31     990
2015-04-30    1129
2015-05-31     969
2015-06-30     964
2015-07-31    1148
2015-08-31     614
2015-09-30    1068
2015-10-31    1138
2015-11-30    1057
2015-12-31     748
2016-01-31    1255
2016-02-29    1016
2016-03-31    1058
2016-04-30    1064
2016-05-31    1229
2016-06-30    1060
2016-07-31    1144
2016-08-31    1119
2016-09-30    1188
2016-10-31     817
2016-11-30     638
2016-12-31    1205
dtype: int64

It's interesting to note that the Pandas `Series` object acts like both a one-dimensional NumPy array and a standard Python dictionary. For example, to get index values for a `Series` object, you can use the `keys()` method as shown below.

In [35]:
sales_series.keys()

Index(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31',
       '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
       '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31',
       '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
       '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
      dtype='object')

We can also display its values.

In [36]:
sales_series.values

array([ 872,  873,  990, 1129,  969,  964, 1148,  614, 1068, 1138, 1057,
        748, 1255, 1016, 1058, 1064, 1229, 1060, 1144, 1119, 1188,  817,
        638, 1205])

Also, as shown earlier, we can use NumPy-like slicing as is demonstrated in the following code block.

In [37]:
# Get the sales for June 2015 through December 2015 
sales_series['2015-06-30':'2015-12-31']

2015-06-30     964
2015-07-31    1148
2015-08-31     614
2015-09-30    1068
2015-10-31    1138
2015-11-30    1057
2015-12-31     748
dtype: int64

Finally, we can use the boolean array capabilities of NumPy to get subsets of the `Series` object that satisfy a specified condition. As an example, the following code block identifies the months with sales greater than or equal to 1,000.

In [38]:
# Which months had sales greater than $1,000? Show only the months, not the values by using keys().
big_sales = sales_series[(sales_series > 1000)].keys()
print("Number of months > $1,000: ", len(big_sales))
print(big_sales)

Number of months > $1,000:  15
Index(['2015-04-30', '2015-07-31', '2015-09-30', '2015-10-31', '2015-11-30',
       '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31',
       '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-12-31'],
      dtype='object')

## Indexing and Selecting Data in Pandas `DataFrame` Objects

We will now look at accessing data stored in a Pandas `DataFrame` object. Just as a reminder, the following code block prints the first five rows of the `sales_data` object that we created earlier.

In [149]:
sales_data.head()

  Store Product  Sales        Year
0    W1       A   1957  12/31/2007
1    W1       A   1968  12/31/2008
2    W1       A   1983  12/31/2009
3    W1       A   2001  12/31/2010
4    W1       A   1894  12/31/2011

As shown in the following code block, we can select an entire column of the `DataFrame` object, resulting in a `Series`, by providing the column name in brackets.

In [150]:
sales_data['Sales'][:3] #limit to the first 3 rows

0    1957
1    1968
2    1983
Name: Sales, dtype: int64

Moreover, we can return multiple columns by providing the names of the desired columns as a list. Since we are returning multiple columns, the resulting object is a `DataFrame`.

In [41]:
sales_data[['Product','Sales']][:5]

  Product  Sales
0       A   1957
1       A   1968
2       A   1983
3       A   2001
4       A   1894

Similar to NumPy, we can perform calculations using entire columns.

In [153]:
(sales_data['Sales']/365).apply(lambda x: "${:.2f}".format(x))[:5]

0    $5.36
1    $5.39
2    $5.43
3    $5.48
4    $5.19
Name: Sales, dtype: object

We can extract a subset of the available records by providing a boolean expression in brackets.

In [43]:
sales_data[sales_data['Product']=='B']

   Store Product  Sales        Year
10    W1       B   1891  12/31/2007
11    W1       B   1822  12/31/2008
12    W1       B   1846  12/31/2009
13    W1       B   1903  12/31/2010
14    W1       B   1924  12/31/2011
15    W1       B   1897  12/31/2012
16    W1       B   1890  12/31/2013
17    W1       B   1858  12/31/2014
18    W1       B   1871  12/31/2015
19    W1       B   1880  12/31/2016
30    E1       B   1904  12/31/2007
31    E1       B   1812  12/31/2008
32    E1       B   1733  12/31/2009
33    E1       B   1868  12/31/2010
34    E1       B   1872  12/31/2011
35    E1       B   1909  12/31/2012
36    E1       B   2034  12/31/2013
37    E1       B   1856  12/31/2014
38    E1       B   1813  12/31/2015
39    E1       B   1806  12/31/2016
50    E2       B   1696  12/31/2007
51    E2       B   1783  12/31/2008
52    E2       B   1799  12/31/2009
53    E2       B   1852  12/31/2010
54    E2       B   1793  12/31/2011
55    E2       B   1877  12/31/2012
56    E2       B   1687  12/31/2013
57    E2       B   1824  12/31/2014
58    E2       B   1839  12/31/2015
59    E2       B   1889  12/31/2016

In [44]:
# Applying a filter to the DataFrame does not change the underlying dataset
sales_data.head(15)

   Store Product  Sales        Year
0     W1       A   1957  12/31/2007
1     W1       A   1968  12/31/2008
2     W1       A   1983  12/31/2009
3     W1       A   2001  12/31/2010
4     W1       A   1894  12/31/2011
5     W1       A   1850  12/31/2012
6     W1       A   2045  12/31/2013
7     W1       A   1860  12/31/2014
8     W1       A   1784  12/31/2015
9     W1       A   1856  12/31/2016
10    W1       B   1891  12/31/2007
11    W1       B   1822  12/31/2008
12    W1       B   1846  12/31/2009
13    W1       B   1903  12/31/2010
14    W1       B   1924  12/31/2011

Being built on top of NumPy, we can create more complicated boolean expressions to select subsets of records. The following code block shows how we can define and use multi-condition boolean expression to select records where the store is *E1* and the sales is greater than 1,850.

In [154]:
my_condition = (sales_data['Store'] == 'E1') & (sales_data['Sales'] > 1850)

sales_data[my_condition]

   Store Product  Sales        Year
20    E1       A   1858  12/31/2007
21    E1       A   1909  12/31/2008
22    E1       A   1977  12/31/2009
28    E1       A   1895  12/31/2015
30    E1       B   1904  12/31/2007
33    E1       B   1868  12/31/2010
34    E1       B   1872  12/31/2011
35    E1       B   1909  12/31/2012
36    E1       B   2034  12/31/2013
37    E1       B   1856  12/31/2014

## Using iloc (integer location) to access data
Use `iloc` to access data within a DataFrame by passing an integer or list of integers.

For example, if you want the first two rows of data pass an inner list to your DataFrame.

```Python
df.iloc[[<row selection>], [<column selection>]]
```

In [132]:
# Review the data
df_ms.head()

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
0,Dynamic Reader,3.5,268,Books,2014-07-01,NaN,Tuesday,2014Q3,2014-06-30/2014-07-06
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,NaN,Friday,2014Q3,2014-07-28/2014-08-03
2,BookViewer,3.5,593,Books,2016-02-29,NaN,Monday,2016Q1,2016-02-29/2016-03-06
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04

In [133]:
# Use integer location (iloc) to display the first and third rows--row 0 and row 2)
df_ms.iloc[[0,2]]

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
0,Dynamic Reader,3.5,268,Books,2014-07-01,NaN,Tuesday,2014Q3,2014-06-30/2014-07-06
2,BookViewer,3.5,593,Books,2016-02-29,NaN,Monday,2016Q1,2016-02-29/2016-03-06

In [135]:
# Display row index 2 and 3 and only the first (index 0) and third (index 2) columns
df_ms.iloc[[2,3],[0,2]]

                 Name  # of Ratings
2          BookViewer           593
3  Brick Instructions           684

## Using loc to access and change data
Using the `.loc` *indexer* method for Pandas, we can use this boolean expression to return a subset of the available columns.

In [139]:
my_condition = (df_ms['# of Ratings'] > 300) & (df_ms['Rating'] == 5)

## The following loc expression uses the boolean expression to filter the rows,
## and then uses the list of column names to define the subset of columns to return
df_ms.loc[my_condition,['Name','Rating']]

                                                   Name  Rating
57                        Easy Typing Practice in 1 Day     5.0
73                            Learn Xcode 101 by WAGmob     5.0
85                       A Romance Novel by Jane Austen     5.0
109                                      Learn Larivaar     5.0
115     Learn Agricultural Engineering by GoLearningBus     5.0
...                                                 ...     ...
5294                                     Modbus Monitor     5.0
5297  XML Hub - XML to JSON Converter, XML Formatter...     5.0
5303                                         PairBLENow     5.0
5305                                          Littledot     5.0
5309                                         TPipingHMI     5.0

[773 rows x 2 columns]

Please see https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html for more discussion on indexing and selecting with Pandas objects.

# Handling Missing Data

In this section, we will look at a few capabilities built into Pandas for the purpose of handling missing data. For this demonstration, we will use a subset of the data contained in the `sales_data` object. The following code block creates and prints the data subset.

In [141]:
df_ms

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
0,Dynamic Reader,3.5,268,Books,2014-07-01,NaN,Tuesday,2014Q3,2014-06-30/2014-07-06
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,NaN,Friday,2014Q3,2014-07-28/2014-08-03
2,BookViewer,3.5,593,Books,2016-02-29,NaN,Monday,2016Q1,2016-02-29/2016-03-06
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04
...,...,...,...,...,...,...,...,...,...
5316,Get Color,3.0,785,Developer Tools,2019-08-08,54.5,Thursday,2019Q3,2019-08-05/2019-08-11
5317,JS King,1.0,720,Developer Tools,2018-07-19,269.0,Thursday,2018Q3,2018-07-16/2018-07-22
5318,MQTTSniffer,2.5,500,Developer Tools,2017-10-04,64.0,Wednesday,2017Q4,2017-10-02/2017-10-08
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,2019-11-18,269.0,Monday,2019Q4,2019-11-18/2019-11-24
5320,Simply Text,4.0,386,Developer Tools,2014-01-23,219.0,Thursday,2014Q1,2014-01-20/2014-01-26

In [144]:
my_subset = df_ms.copy()
my_condition = (my_subset['Category']=='Books') & (my_subset['Quarter']=='2018Q3')
my_subset = my_subset[my_condition]
my_subset

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
63,RReader,4.0,492,Books,2018-09-07,NaN,Friday,2018Q3,2018-09-03/2018-09-09
93,comic Z,3.0,119,Books,2018-07-26,NaN,Thursday,2018Q3,2018-07-23/2018-07-29
125,Chat Fiction,4.5,755,Books,2018-07-23,NaN,Monday,2018Q3,2018-07-23/2018-07-29
170,Birds & Animals,4.5,722,Books,2018-09-02,NaN,Sunday,2018Q3,2018-08-27/2018-09-02
192,SEVEN WONDERS IN THE WORLD.,5.0,869,Books,2018-09-04,NaN,Tuesday,2018Q3,2018-09-03/2018-09-09
235,Prayer Assistant – A Catholic Prayer Companion,5.0,295,Books,2018-07-16,NaN,Monday,2018Q3,2018-07-16/2018-07-22
296,Heartstone Cards,5.0,607,Books,2018-07-16,NaN,Monday,2018Q3,2018-07-16/2018-07-22
301,Biblioteca Vodafone University,2.0,290,Books,2018-08-24,NaN,Friday,2018Q3,2018-08-20/2018-08-26
308,History of Gods,5.0,437,Books,2018-09-02,NaN,Sunday,2018Q3,2018-08-27/2018-09-02
310,"The Call of the Wild, by Jack London",5.0,192,Books,2018-07-25,NaN,Wednesday,2018Q3,2018-07-23/2018-07-29
318,"Alice's Adventures in Wonderland, by Lewis Car...",5.0,133,Books,2018-07-18,NaN,Wednesday,2018Q3,2018-07-16/2018-07-22
470,Ordboken Clue,1.0,666,Books,2018-07-21,NaN,Saturday,2018Q3,2018-07-16/2018-07-22
473,DexOffline,4.5,660,Books,2018-09-07,NaN,Friday,2018Q3,2018-09-03/2018-09-09
561,bega-elbe2,2.0,880,Books,2018-08-02,NaN,Thursday,2018Q3,2018-07-30/2018-08-05
647,The Formula Calculator,5.0,397,Books,2018-09-07,NaN,Friday,2018Q3,2018-09-03/2018-09-09
5193,SimpleDjvu,2.5,511,Books,2018-09-03,109.0,Monday,2018Q3,2018-09-03/2018-09-09
5207,Essay Citation Generator,1.0,633,Books,2018-09-18,164.0,Tuesday,2018Q3,2018-09-17/2018-09-23

## Fill NaN with a number

In [146]:
my_subset['Price'].fillna(0)

63        0.0
93        0.0
125       0.0
170       0.0
192       0.0
235       0.0
296       0.0
301       0.0
308       0.0
310       0.0
318       0.0
470       0.0
473       0.0
561       0.0
647       0.0
5193    109.0
5207    164.0
Name: Price, dtype: float32

## Forward Fill Values
In some situations, it may be reasonable to *forward fill* values whenever missing values are encountered. Essentially, the *forward filling* method use a preceding value in the DataFrame, and can be accomplished using the `fillna` Pandas method as shown in the following code block. **Note that this function can take an *axis* argument, specifying the direction of filling. In this case, we want to fill across the rows, or axis 0.**

In [53]:
my_subset.fillna(axis = 0, method = 'ffill')

  Store Product   Sales        Year
0    W1       A  1957.0  12/31/2007
1    W1       A  1968.0  12/31/2008
2    W1       A  1983.0  12/31/2009
3    W1       A  2001.0  12/31/2010
4    W1       A  2001.0  12/31/2011
5    W1       A  1850.0  12/31/2012
6    W1       A  2045.0  12/31/2013
7    W1       A  2045.0  12/31/2014
8    W1       A  1784.0  12/31/2015
9    W1       A  1856.0  12/31/2016

## Back Fill Values
In contrast, it is also possible to *back fill* values, using values that follow in the DataFrame. This approach can be accomplished as shown in the following code block.

In [54]:
my_subset.fillna(axis = 0, method = 'bfill')

  Store Product   Sales        Year
0    W1       A  1957.0  12/31/2007
1    W1       A  1968.0  12/31/2008
2    W1       A  1983.0  12/31/2009
3    W1       A  2001.0  12/31/2010
4    W1       A  1850.0  12/31/2011
5    W1       A  1850.0  12/31/2012
6    W1       A  2045.0  12/31/2013
7    W1       A  1784.0  12/31/2014
8    W1       A  1784.0  12/31/2015
9    W1       A  1856.0  12/31/2016

## Interpolate Values
Instead of forward or back filling missing values, we may also use the `interpolate` method to take the average of preceding and following values. This approach is demonstrated below.

In [55]:
my_subset.interpolate(axis = 0)

  Store Product   Sales        Year
0    W1       A  1957.0  12/31/2007
1    W1       A  1968.0  12/31/2008
2    W1       A  1983.0  12/31/2009
3    W1       A  2001.0  12/31/2010
4    W1       A  1925.5  12/31/2011
5    W1       A  1850.0  12/31/2012
6    W1       A  2045.0  12/31/2013
7    W1       A  1914.5  12/31/2014
8    W1       A  1784.0  12/31/2015
9    W1       A  1856.0  12/31/2016

## Drop Values 
The final approach to handling missing values that we will cover is to drop the values. This can be done using the `dropna` method shown in the following code block.

In [56]:
my_subset.dropna(axis = 0)

  Store Product   Sales        Year
0    W1       A  1957.0  12/31/2007
1    W1       A  1968.0  12/31/2008
2    W1       A  1983.0  12/31/2009
3    W1       A  2001.0  12/31/2010
5    W1       A  1850.0  12/31/2012
6    W1       A  2045.0  12/31/2013
8    W1       A  1784.0  12/31/2015
9    W1       A  1856.0  12/31/2016

We can also drop missing values by specifying a condition that the records with missing values will fail. For example, the following code block uses the condition `my_subset['Sales']>0` to effectively drop the records with missing sales values (i.e., 2011 and 2014 sales). 

[Back to Table of Contents](#Table_of_Contents)<br>

In [57]:
my_subset[my_subset['Sales']>0]

  Store Product   Sales        Year
0    W1       A  1957.0  12/31/2007
1    W1       A  1968.0  12/31/2008
2    W1       A  1983.0  12/31/2009
3    W1       A  2001.0  12/31/2010
5    W1       A  1850.0  12/31/2012
6    W1       A  2045.0  12/31/2013
8    W1       A  1784.0  12/31/2015
9    W1       A  1856.0  12/31/2016

# Working with Dates and times in Pandas
Pandas offers power and convenient featurs to handle dates and times. 

Properly read 
Filter by date time
Group date time
Plot using timeseries data

In [58]:
ms_store_file = Path.cwd() / 'files' / 'Microsoft_Store.csv'

In [59]:
# Load Microsoft Store rating data
import pandas as pd
try:
    df_ms = pd.read_csv('files/Microsoft_Store.csv')
except Exception as e:
    print(e)

In [60]:
# View first 5 rows
df_ms.head(10)

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,free
3,Brick Instructions,3.5,684,Books,30-01-2018,free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
5,Gurbani Reader,4.5,399,Books,18-01-2017,Free
6,NFO Viewer,4.5,566,Books,13-11-2012,Free
7,Text to Speech TTS,3.0,175,Books,17-10-2013,Free
8,ACK Comics,4.0,460,Books,20-12-2012,Free
9,Learn Biology and Human Body Anatomy by GoLear...,3.5,363,Books,25-11-2013,Free

In [61]:
df_ms.dtypes

Name                   object
Rating                float64
No of people Rated      int64
Category               object
Date                   object
Price                  object
dtype: object

In [62]:
df_ms[['Name','Category']]

                                                   Name         Category
0                                        Dynamic Reader            Books
1     Chemistry, Organic Chemistry and Biochemistry-...            Books
2                                            BookViewer            Books
3                                    Brick Instructions            Books
4     Introduction to Python Programming by GoLearni...            Books
...                                                 ...              ...
5317                                            JS King  Developer Tools
5318                                        MQTTSniffer  Developer Tools
5319                      Dev Utils - JSON, CSV and XML  Developer Tools
5320                                        Simply Text  Developer Tools
5321                                                NaN              NaN

[5322 rows x 2 columns]

In [63]:
df_ms.head(5)

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,free
3,Brick Instructions,3.5,684,Books,30-01-2018,free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free

In [64]:
df_ms.loc[5:10, ['Date', 'Name', 'Price']]

          Date                                               Name Price
5   18-01-2017                                     Gurbani Reader  Free
6   13-11-2012                                         NFO Viewer  Free
7   17-10-2013                                 Text to Speech TTS  Free
8   20-12-2012                                         ACK Comics  Free
9   25-11-2013  Learn Biology and Human Body Anatomy by GoLear...  Free
10  30-01-2018                             Coding Made Easy - SQL  Free

In [65]:
# Error: Name contains NA/NaN values
python_books = df_ms.loc[df_ms['Name'].str.contains("Python", case=False)]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [66]:
# Ignore NA values by setting na = False
python_books = df_ms.loc[df_ms['Name'].str.contains("Python", case=False, na=False)]
python_books

,Name,Rating,No of people Rated,Category,Date,Price
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
358,Learn Django and Python by GoLearningBus,3.0,711,Books,12-06-2014,Free
1278,Python 3.8,3.5,697,Developer Tools,18-12-2018,Free
1283,Python 3.7,3.5,804,Developer Tools,12-12-2018,Free
1295,Python 3.9 (Beta),5.0,100,Developer Tools,19-11-2019,Free
1404,InstantPython,5.0,414,Developer Tools,20-04-2020,Free
5290,Python Playground,3.0,457,Developer Tools,23-08-2018,₹ 54.00

## Replacing Data
Often when using a data set you will need to make values consistent. For example, in the ms_df DataFrame, one of the categoris is Deveoper Tools. In all other data sets within your organization a different term is used for that category. Instead of "Developer Tools", your organization has standardized on "DevTools". Consequently, you'll want to change every occurrence of "Developer Tools" to "DevTools". This is easily accomplished in Pandas.

In [67]:
df_ms["Category"].replace("Developer Tools","DevTools", inplace=True)

In [68]:
# Examine the Python books (which are in the modified category)
df_ms.loc[df_ms['Name'].str.contains("Python", case=False, na=False)]

,Name,Rating,No of people Rated,Category,Date,Price
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
358,Learn Django and Python by GoLearningBus,3.0,711,Books,12-06-2014,Free
1278,Python 3.8,3.5,697,DevTools,18-12-2018,Free
1283,Python 3.7,3.5,804,DevTools,12-12-2018,Free
1295,Python 3.9 (Beta),5.0,100,DevTools,19-11-2019,Free
1404,InstantPython,5.0,414,DevTools,20-04-2020,Free
5290,Python Playground,3.0,457,DevTools,23-08-2018,₹ 54.00

# Changing Data Types
Call pandas.DataFrame.astype(dtype) with dtype as a dictionary containing mappings of column names to values to change the type of each column in pandas.DataFrame.

In [156]:
# Get date and day name of BookViewer entry
# ERROR: This fails because .day_name is not a method for a string. 
try:
    print(df_ms.loc[2, 'Date'])
    print(df_ms.loc[2, 'Date'].day_name())
except Exception as e:
    print(e)

2016-02-29 00:00:00
Monday

In [157]:
df_ms['Price'].unique

<bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
5316     54.5
5317    269.0
5318     64.0
5319    269.0
5320    219.0
Name: Price, Length: 5321, dtype: float32>

## Converting columns to other data types
If the date/time column is in a standard format the Pandas understand, it will convert it automatically. If not, you must provide the string format for Pandas to properly interpret and convert the data. See (https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#providing-a-format-argument) for details.

### Convert String to datetime object

In [71]:
# Convert the date string to a datetime object.

# With formatting string (unnecessary for this example because date format is recognized by Pandas)
df_ms['Date'] = pd.to_datetime(df_ms['Date'], format='%d-%m-%Y')

# No formatting string provides, so Pandas will make its best attempt at conversion.
#df_ms['Date'] = pd.to_datetime(df_ms['Date'])

In [72]:
df_ms.dtypes

Name                          object
Rating                       float64
No of people Rated             int64
Category                      object
Date                  datetime64[ns]
Price                         object
dtype: object

In [73]:
# Get date of Bookviewer entry
# This succeeds because 'Date' was converted from a string to a datetime object 
try:
    print(df_ms.loc[2, 'Date'])
    print(df_ms.loc[2, 'Date'].day_name())
except Exception as e:
    print(e)

2016-02-29 00:00:00
Monday

In [158]:
# You can also perform date/time conversions when you load a dataset
# Use the parse_dates parameter and pass the datetime columns of your dataset

df_ms = pd.read_csv(ms_store_file, parse_dates=['Date'])
print(df_ms.loc[2, 'Date'].day_name())

Monday

### Convert string or object to float

Syntax: 
```Python
pandas.to_numeric(arg, errors=’raise’, downcast=None)
```
Parameters:

arg : list, tuple, 1-d array, or Series

errors : {‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
* If ‘raise’, then invalid parsing will raise an exception
* If ‘coerce’, then invalid parsing will be set as NaN
* If ‘ignore’, then invalid parsing will return the input


downcast : [default None] If not None, and if the data has been successfully cast to a numerical dtype downcast that resulting data to the smallest numerical dtype possible according to the following rules:
* ‘integer’ or ‘signed’: smallest signed int dtype (min.: np.int8)
* ‘unsigned’: smallest unsigned int dtype (min.: np.uint8)
* ‘float’: smallest float dtype (min.: np.float32)

Returns: numeric if parsing succeeded. Note that return type depends on input. Series if Series, otherwise ndarray.

In [159]:
# Check data types before conversion
df_ms.dtypes

Name                          object
Rating                       float64
No of people Rated             int64
Category                      object
Date                  datetime64[ns]
Price                         object
dtype: object

In [160]:
# Check the first few rows
df_ms.head(15)

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,2014-07-01,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,Free
2,BookViewer,3.5,593,Books,2016-02-29,free
3,Brick Instructions,3.5,684,Books,2018-01-30,free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,Free
5,Gurbani Reader,4.5,399,Books,2017-01-18,Free
6,NFO Viewer,4.5,566,Books,2012-11-13,Free
7,Text to Speech TTS,3.0,175,Books,2013-10-17,Free
8,ACK Comics,4.0,460,Books,2012-12-20,Free
9,Learn Biology and Human Body Anatomy by GoLear...,3.5,363,Books,2013-11-25,Free
10,Coding Made Easy - SQL,4.0,774,Books,2018-01-30,Free
11,Baani : Nitnem,4.0,533,Books,2014-08-29,Free
12,iMac® 101,4.0,707,Books,2014-03-28,Free
13,Complete C Programs,4.0,687,Books,2012-07-12,Free
14,Historical Places in India,4.5,825,Books,2018-02-18,Free

In [161]:
# Check the last few rows
df_ms.tail(15)

,Name,Rating,No of people Rated,Category,Date,Price
5307,IpTray,1.5,848,Developer Tools,2019-04-03,₹ 209.00
5308,Database Designer SDK,3.5,502,Developer Tools,2018-01-16,₹ 699.00
5309,TPipingHMI,5.0,546,Developer Tools,2017-10-18,₹ 269.00
5310,EditPlus,4.0,778,Developer Tools,2016-09-27,"₹ 1,899.00"
5311,0x Hex Viewer,4.0,211,Developer Tools,2016-02-20,₹ 54.00
5312,Assets Resizer for Windows Store,3.5,566,Developer Tools,2015-09-22,₹ 54.00
5313,WWWmaster,3.5,150,Developer Tools,2018-12-01,₹ 489.00
5314,HexToolkit,3.5,214,Developer Tools,2017-09-25,₹ 54.00
5315,Visual Studio Image Scaler,1.0,756,Developer Tools,2017-05-15,₹ 54.00
5316,Get Color,3.0,785,Developer Tools,2019-08-08,₹ 54.50
5317,JS King,1.0,720,Developer Tools,2018-07-19,₹ 269.00
5318,MQTTSniffer,2.5,500,Developer Tools,2017-10-04,₹ 64.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,2019-11-18,₹ 269.00
5320,Simply Text,4.0,386,Developer Tools,2014-01-23,₹ 219.00
5321,NaN,NaN,948,NaN,NaT,NaN

In [162]:
# Check items that aren't free
df_ms[df_ms['Price']!='Free']

,Name,Rating,No of people Rated,Category,Date,Price
2,BookViewer,3.5,593,Books,2016-02-29,free
3,Brick Instructions,3.5,684,Books,2018-01-30,free
5163,Bluestacks app player: guide,1.5,760,Books,2019-12-16,₹ 144.00
5164,Adobe Acrobat Reader DC PC Guide,2.0,163,Books,2020-06-28,₹ 144.00
5165,Play Books Online (Client For Google Books),2.5,292,Books,2016-01-14,₹ 54.00
...,...,...,...,...,...,...
5317,JS King,1.0,720,Developer Tools,2018-07-19,₹ 269.00
5318,MQTTSniffer,2.5,500,Developer Tools,2017-10-04,₹ 64.00
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,2019-11-18,₹ 269.00
5320,Simply Text,4.0,386,Developer Tools,2014-01-23,₹ 219.00
5321,NaN,NaN,948,NaN,NaT,NaN

In [163]:
# Does a particular column have any NaN values?
df_ms['Price'].isnull().values.any()

True

In [164]:
# Does the DataFrame have any NaN values?
df_ms.isnull().values.any()

True

In [165]:
# How many NaN values are in the DataFrame (by column)?
df_ms.isnull().sum()

Name                  1
Rating                1
No of people Rated    0
Category              1
Date                  1
Price                 1
dtype: int64

In [166]:
# How many NaN values are in the DataFrame (entire DataFrame)?
df_ms.isnull().sum().sum()

5

In [167]:
# Return the NaN rows
df_ms[df_ms['Price'].isnull()]

     Name  Rating  No of people Rated Category Date Price
5321  NaN     NaN                 948      NaN  NaT   NaN

In [168]:
# Delete (drop) the row using its index number
df_ms.drop(5321, inplace=True)

In [169]:
# Get all unique prices 
#   (not feasible to display all unique prices for a large data set)
df_ms['Price'].unique()

array(['Free', 'free', '₹ 144.00', '₹ 54.00', '₹ 99.00', '₹ 219.00',
       '₹ 269.00', '₹ 134.00', '₹ 164.00', '₹ 109.00', '₹ 1,624.00',
       '₹ 1,099.00', '₹ 1,349.00', '₹ 59.00', '₹ 154.00', '₹ 119.00',
       '₹ 94.00', '₹ 69.00', '₹ 139.00', '₹ 189.00', '₹ 549.00',
       '₹ 79.00', '₹ 2,599.00', '₹ 299.00', '₹ 574.00', '₹ 329.40',
       '₹ 1,521.80', '₹ 324.00', '₹ 824.00', '₹ 5,449.00', '₹ 89.50',
       '₹ 114.00', '₹ 194.00', '₹ 319.00', '₹ 624.00', '₹ 2,149.00',
       '₹ 1,149.00', '₹ 434.00', '₹ 279.00', '₹ 209.00', '₹ 699.00',
       '₹ 1,899.00', '₹ 489.00', '₹ 54.50', '₹ 64.00'], dtype=object)

In [171]:
# Carefully consider (and test) the error parameter. 
#   What if we used 'ignore'? Valid? Ideal output? 'coerce'?
df_ms['Price'] = pd.to_numeric(df_ms['Price'], downcast='float', errors='ignore')

In [172]:
# We'll assume that null prices are Free apps and replace NaN with Zero
df_ms['Price'] = df_ms['Price'].replace([np.nan], 0)

In [173]:
# Since we want the column to be a float, let's replace all the 'Free' prices with Zero
df_ms['Price'] = df_ms['Price'].replace('[F|f]ree', 0, regex=True)

In [175]:
# Conversion failed earlier because of the symbol. Let's remove it.
df_ms['Price'] = df_ms['Price'].str.replace('₹ ', '')

In [176]:
# Get all unique prices
df_ms['Price'].unique()

array([nan, '144.00', '54.00', '99.00', '219.00', '269.00', '134.00',
       '164.00', '109.00', '1,624.00', '1,099.00', '1,349.00', '59.00',
       '154.00', '119.00', '94.00', '69.00', '139.00', '189.00', '549.00',
       '79.00', '2,599.00', '299.00', '574.00', '329.40', '1,521.80',
       '324.00', '824.00', '5,449.00', '89.50', '114.00', '194.00',
       '319.00', '624.00', '2,149.00', '1,149.00', '434.00', '279.00',
       '209.00', '699.00', '1,899.00', '489.00', '54.50', '64.00'],
      dtype=object)

In [177]:
# Carefully consider (and test) the error parameter. 
#   What if we used 'ignore'? Valid? Ideal output? 'coerce'?
df_ms['Price'] = pd.to_numeric(df_ms['Price'], downcast='float', errors='coerce')

In [178]:
# Confirm Price is a float. What type of float is it? Why?
df_ms.dtypes

Name                          object
Rating                       float64
No of people Rated             int64
Category                      object
Date                  datetime64[ns]
Price                        float32
dtype: object

# Adding, Renaming and dropping columns

In [93]:
# Provide the current name and new name of a column. Write the change to the DataFrame using inplace = True
df_ms.rename(columns = {'No of people Rated':'# of Ratings'}, inplace = True)

In [94]:
df_ms.columns

Index(['Name', 'Rating', '# of Ratings', 'Category', 'Date', 'Price'], dtype='object')

In [95]:
df_ms['Local tax'] = df_ms['Price'] *.09

In [96]:
df_ms[['Name','Price','Local tax']]

                                                   Name  Price  Local tax
0                                        Dynamic Reader    NaN        NaN
1     Chemistry, Organic Chemistry and Biochemistry-...    NaN        NaN
2                                            BookViewer    NaN        NaN
3                                    Brick Instructions    NaN        NaN
4     Introduction to Python Programming by GoLearni...    NaN        NaN
...                                                 ...    ...        ...
5316                                          Get Color   54.5   4.905000
5317                                            JS King  269.0  24.210001
5318                                        MQTTSniffer   64.0   5.760000
5319                      Dev Utils - JSON, CSV and XML  269.0  24.210001
5320                                        Simply Text  219.0  19.710001

[5321 rows x 3 columns]

In [97]:
df_ms.drop(columns=['Local tax'],inplace=True)

In [98]:
df_ms.columns #Local tax is no longer listed

Index(['Name', 'Rating', '# of Ratings', 'Category', 'Date', 'Price'], dtype='object')

## Using the `dt` class
The `dt` class on the Series object provides useful date and time features.

In [99]:
df_ms.columns

Index(['Name', 'Rating', '# of Ratings', 'Category', 'Date', 'Price'], dtype='object')

In [100]:
# Create a DayOfWeek column and store the named day
df_ms['DayOfWeek'] = df_ms['Date'].dt.day_name()
df_ms.head()

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek
0,Dynamic Reader,3.5,268,Books,2014-07-01,NaN,Tuesday
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,NaN,Friday
2,BookViewer,3.5,593,Books,2016-02-29,NaN,Monday
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday

In [101]:
# Get earliest date
print('Earlist date: ;', df_ms['Date'].min())

# Get latest date
print('Latest date: ', df_ms['Date'].max())

# Get number of days between earliest and latest date
print(df_ms['Date'].max() - df_ms['Date'].min())

Earlist date: ; 2010-03-12 00:00:00
Latest date:  2020-12-06 00:00:00
3922 days 00:00:00

In [102]:
# Filter Microsoft Store records by date
# Show only records after 2018
date_filter = (df_ms['Date'] >= '2018')
df_ms.loc[date_filter]

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday
10,Coding Made Easy - SQL,4.0,774,Books,2018-01-30,NaN,Tuesday
14,Historical Places in India,4.5,825,Books,2018-02-18,NaN,Sunday
20,GRE Vocabulary Lists - Collection,4.5,224,Books,2019-02-05,NaN,Tuesday
...,...,...,...,...,...,...,...
5308,Database Designer SDK,3.5,502,Developer Tools,2018-01-16,699.0,Tuesday
5313,WWWmaster,3.5,150,Developer Tools,2018-12-01,489.0,Saturday
5316,Get Color,3.0,785,Developer Tools,2019-08-08,54.5,Thursday
5317,JS King,1.0,720,Developer Tools,2018-07-19,269.0,Thursday
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,2019-11-18,269.0,Monday

In [103]:
# Filter Microsoft Store records by date
# Show only records in 2018
date_filter = (df_ms['Date'] >= '2018') & (df_ms['Date'] < '2019')
df_ms.loc[date_filter]

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday
10,Coding Made Easy - SQL,4.0,774,Books,2018-01-30,NaN,Tuesday
14,Historical Places in India,4.5,825,Books,2018-02-18,NaN,Sunday
23,WikiMed,4.5,779,Books,2018-01-29,NaN,Monday
...,...,...,...,...,...,...,...
5302,Sprite Basic 2 Programming Language,2.5,878,Developer Tools,2018-08-31,434.0,Friday
5304,SCADAvis.io Synoptic Editor,1.0,359,Developer Tools,2018-12-07,NaN,Friday
5308,Database Designer SDK,3.5,502,Developer Tools,2018-01-16,699.0,Tuesday
5313,WWWmaster,3.5,150,Developer Tools,2018-12-01,489.0,Saturday
5317,JS King,1.0,720,Developer Tools,2018-07-19,269.0,Thursday

In [104]:
# Filter Microsoft Store records by date
# Show only records in December of 2018
date_filter = (df_ms['Date'] >= pd.to_datetime('2018-12-01')) & (df_ms['Date'] <= pd.to_datetime('2018-12-31'))
df_dec_2018 = df_ms.loc[date_filter]
df_dec_2018

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek
412,My Board Game Collection,3.0,826,Books,2018-12-24,NaN,Monday
598,LaParola,4.5,259,Books,2018-12-31,NaN,Monday
683,Free Unlimited Proxy - Proxy Master for Telegram,3.5,151,Business,2018-12-18,NaN,Tuesday
799,Bitcoin miner Guide - How to start mining bitc...,4.5,155,Business,2018-12-09,NaN,Sunday
981,RFPM Converter,4.0,681,Business,2018-12-06,NaN,Thursday
1136,Time Tracker By eBillity,1.5,101,Business,2018-12-04,NaN,Tuesday
1145,Orders Manager,5.0,585,Business,2018-12-19,NaN,Wednesday
1211,SmartCafe Professional - POS Kassensystem,5.0,740,Business,2018-12-06,NaN,Thursday
1278,Python 3.8,3.5,697,Developer Tools,2018-12-18,NaN,Tuesday
1283,Python 3.7,3.5,804,Developer Tools,2018-12-12,NaN,Wednesday
1338,Take Webpage Screenshots Entirely - FireShot,4.5,741,Developer Tools,2018-12-10,NaN,Monday
1340,Cookie-Editor,2.0,854,Developer Tools,2018-12-26,NaN,Wednesday
1371,Lottie Viewer,4.5,693,Developer Tools,2018-12-13,NaN,Thursday
1411,Bluetooth LE Universal Pad,5.0,445,Developer Tools,2018-12-07,NaN,Friday
1629,EMGR Color Ink,5.0,724,Developer Tools,2018-12-03,NaN,Monday
1667,FanKit,5.0,159,Developer Tools,2018-12-06,NaN,Thursday
1686,Web Server Health Monitor,4.0,157,Developer Tools,2018-12-31,NaN,Monday
1747,DVD player - TrueDVD Streamer support VLC and ...,1.5,677,Social,2018-12-17,NaN,Monday
1779,AltspaceVR,4.5,562,Social,2018-12-12,NaN,Wednesday
1830,TeamTalk,5.0,386,Social,2018-12-03,NaN,Monday
2316,Break Reminder 10,3.0,512,Health and Fitness,2018-12-20,NaN,Thursday
2888,Nail Salon Christmas - Nail Spa & Makeover Fun...,3.0,423,Kids and Family,2018-12-09,NaN,Sunday
2911,Mommy's Busy Day - House Cleaning & Laundry Wa...,5.0,393,Kids and Family,2018-12-03,NaN,Monday
2922,Wedding Day Planner : Makeup and Makeover Salo...,4.0,869,Kids and Family,2018-12-03,NaN,Monday
3042,My Holy Rosary,5.0,964,Kids and Family,2018-12-01,NaN,Saturday
3155,"The Tale Of Benjamin Bunny, by Beatrix Potter ...",4.5,917,Kids and Family,2018-12-28,NaN,Friday
3232,Thermo ICE,4.5,894,Lifestyle,2018-12-19,NaN,Wednesday
3425,MOT History Check,4.0,503,Lifestyle,2018-12-12,NaN,Wednesday
3430,Open Vehicle Monitoring System,5.0,452,Lifestyle,2018-12-13,NaN,Thursday
3479,JXCirrus Prayer Lite,4.0,685,Lifestyle,2018-12-21,NaN,Friday
3540,Aries horoscope 2019 - supernatural birth chart,5.0,169,Lifestyle,2018-12-25,NaN,Tuesday
3542,Aquarius Horoscope 2019 supernatural star chart,4.5,284,Lifestyle,2018-12-26,NaN,Wednesday
3747,라디오와 멀티미디어(Radio and Multimedia),3.5,919,Multimedia Design,2018-12-03,NaN,Monday
3870,Mp3tag,5.0,737,Music,2018-12-07,NaN,Friday
3936,Whats New Course For Cubase 10,2.5,398,Music,2018-12-14,NaN,Friday
4130,MIDI Player for Microsoft Edge,5.0,631,Music,2018-12-21,NaN,Friday
4352,Constanta Tuner Express,4.0,166,Music,2018-12-31,NaN,Monday
5272,7-zip compressor,2.5,901,Developer Tools,2018-12-11,69.0,Tuesday
5304,SCADAvis.io Synoptic Editor,1.0,359,Developer Tools,2018-12-07,NaN,Friday
5313,WWWmaster,3.5,150,Developer Tools,2018-12-01,489.0,Saturday

In [105]:
# Get average item rating for December
print("Average item rating in Dec 2018: ", df_dec_2018['Rating'].mean())

Average item rating in Dec 2018:  3.9375

In [106]:
# Add a Quarter column and a week column using dt.to_period
df_ms['Quarter'] = df_ms['Date'].dt.to_period('Q')
df_ms['WeekOfYear'] = df_ms['Date'].dt.to_period('W')
df_ms

# See https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects for more objects

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
0,Dynamic Reader,3.5,268,Books,2014-07-01,NaN,Tuesday,2014Q3,2014-06-30/2014-07-06
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,NaN,Friday,2014Q3,2014-07-28/2014-08-03
2,BookViewer,3.5,593,Books,2016-02-29,NaN,Monday,2016Q1,2016-02-29/2016-03-06
3,Brick Instructions,3.5,684,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,NaN,Tuesday,2018Q1,2018-01-29/2018-02-04
...,...,...,...,...,...,...,...,...,...
5316,Get Color,3.0,785,Developer Tools,2019-08-08,54.5,Thursday,2019Q3,2019-08-05/2019-08-11
5317,JS King,1.0,720,Developer Tools,2018-07-19,269.0,Thursday,2018Q3,2018-07-16/2018-07-22
5318,MQTTSniffer,2.5,500,Developer Tools,2017-10-04,64.0,Wednesday,2017Q4,2017-10-02/2017-10-08
5319,"Dev Utils - JSON, CSV and XML",4.0,862,Developer Tools,2019-11-18,269.0,Monday,2019Q4,2019-11-18/2019-11-24
5320,Simply Text,4.0,386,Developer Tools,2014-01-23,219.0,Thursday,2014Q1,2014-01-20/2014-01-26

# Filtering Data

In [107]:
# Review the columsn contained the the Microsoft Store Dataset
df_ms.columns

Index(['Name', 'Rating', '# of Ratings', 'Category', 'Date', 'Price',
       'DayOfWeek', 'Quarter', 'WeekOfYear'],
      dtype='object')

In [108]:
df_ms.dtypes

Name                    object
Rating                 float64
# of Ratings             int64
Category                object
Date            datetime64[ns]
Price                  float32
DayOfWeek               object
Quarter          period[Q-DEC]
WeekOfYear       period[W-SUN]
dtype: object

In [123]:
# numpy where method can also be used, but it returns the entire dataset
df_ms.where(df_ms['Rating']<3).dropna()

,Name,Rating,# of Ratings,Category,Date,Price,DayOfWeek,Quarter,WeekOfYear
5163,Bluestacks app player: guide,1.5,760.0,Books,2019-12-16,144.000000,Monday,2019Q4,2019-12-16/2019-12-22
5164,Adobe Acrobat Reader DC PC Guide,2.0,163.0,Books,2020-06-28,144.000000,Sunday,2020Q2,2020-06-22/2020-06-28
5165,Play Books Online (Client For Google Books),2.5,292.0,Books,2016-01-14,54.000000,Thursday,2016Q1,2016-01-11/2016-01-17
5166,WinRAR PC-Guide,1.0,523.0,Books,2019-11-22,99.000000,Friday,2019Q4,2019-11-18/2019-11-24
5167,Windows Movie Maker : PC Guide,1.0,515.0,Books,2020-06-22,144.000000,Monday,2020Q2,2020-06-22/2020-06-28
5169,KReader for Kindle Books,1.0,805.0,Books,2020-05-22,269.000000,Friday,2020Q2,2020-05-18/2020-05-24
5170,VLC Media player_UserGUIDE,1.0,733.0,Books,2019-09-12,134.000000,Thursday,2019Q3,2019-09-09/2019-09-15
5171,Camtasia Tutor,1.0,495.0,Books,2020-06-22,269.000000,Monday,2020Q2,2020-06-22/2020-06-28
5173,Google Earth PC Guide,1.5,288.0,Books,2017-08-29,109.000000,Tuesday,2017Q3,2017-08-28/2017-09-03
5176,ccleaner user: guide,2.0,865.0,Books,2019-12-16,99.000000,Monday,2019Q4,2019-12-16/2019-12-22
5177,eBooks for Kindle,1.0,450.0,Books,2020-06-05,269.000000,Friday,2020Q2,2020-06-01/2020-06-07
5178,"eBook Reader (ePub, Mobi and PDF books)",1.0,824.0,Books,2020-05-25,269.000000,Monday,2020Q2,2020-05-25/2020-05-31
5182,Merriam-Webster Dictionary Recommended by Dell,1.5,693.0,Books,2012-09-10,269.000000,Monday,2012Q3,2012-09-10/2012-09-16
5185,Adobe Flash Player-Pro GUIDE,1.5,493.0,Books,2019-11-25,154.000000,Monday,2019Q4,2019-11-25/2019-12-01
5187,Epub-Reader,1.5,964.0,Books,2016-02-16,164.000000,Tuesday,2016Q1,2016-02-15/2016-02-21
5188,Mobi Books (Kindle),1.0,234.0,Books,2020-10-06,269.000000,Tuesday,2020Q4,2020-10-05/2020-10-11
5189,CCleaner-User GUIDE,1.0,465.0,Books,2019-11-26,144.000000,Tuesday,2019Q4,2019-11-25/2019-12-01
5190,Snapchat_Easy GUIDE,2.0,573.0,Books,2019-02-12,154.000000,Tuesday,2019Q1,2019-02-11/2019-02-17
5192,WinRAR User Guide app,1.0,854.0,Books,2020-02-24,119.000000,Monday,2020Q1,2020-02-24/2020-03-01
5193,SimpleDjvu,2.5,511.0,Books,2018-09-03,109.000000,Monday,2018Q3,2018-09-03/2018-09-09
5200,C.B.R. - Comic Book Reader,2.0,149.0,Books,2013-11-01,79.000000,Friday,2013Q4,2013-10-28/2013-11-03
5203,eBooks for Nook,1.0,207.0,Books,2020-06-16,269.000000,Tuesday,2020Q2,2020-06-15/2020-06-21
5206,Audio bible - The King James Bible,2.0,206.0,Books,2016-07-01,269.000000,Friday,2016Q3,2016-06-27/2016-07-03
5207,Essay Citation Generator,1.0,633.0,Books,2018-09-18,164.000000,Tuesday,2018Q3,2018-09-17/2018-09-23
5209,La Santa Biblia (The Bible in Spanish),1.5,577.0,Books,2014-03-06,109.000000,Thursday,2014Q1,2014-03-03/2014-03-09
5211,Client for Google Books.,1.5,333.0,Books,2020-05-26,269.000000,Tuesday,2020Q2,2020-05-25/2020-05-31
5212,NIV Audio Bible,2.0,731.0,Books,2016-07-23,79.000000,Saturday,2016Q3,2016-07-18/2016-07-24
5214,The King James Bible,1.5,642.0,Books,2015-05-22,109.000000,Friday,2015Q2,2015-05-18/2015-05-24
5216,Concise Oxford Spanish Dictionary,2.5,302.0,Books,2015-03-19,549.000000,Thursday,2015Q1,2015-03-16/2015-03-22
5217,La Bible en Français par Louis Segond (French ...,1.5,141.0,Books,2015-09-24,269.000000,Thursday,2015Q3,2015-09-21/2015-09-27
5219,Translator (Google Translate & DeepL Translator),1.5,681.0,Business,2020-05-18,269.000000,Monday,2020Q2,2020-05-18/2020-05-24
5220,Voice Assistant for Alexa.,1.0,405.0,Business,2020-05-21,269.000000,Thursday,2020Q2,2020-05-18/2020-05-24
5221,Screen Mirror to MiraCast,1.0,216.0,Business,2020-06-24,269.000000,Wednesday,2020Q2,2020-06-22/2020-06-28
5222,Cast to Miracast,1.0,801.0,Business,2020-06-18,269.000000,Thursday,2020Q2,2020-06-15/2020-06-21
5223,Screen Mirror to ChromeCast.,1.0,804.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5224,DWG Viewer.,1.0,791.0,Business,2020-05-13,269.000000,Wednesday,2020Q2,2020-05-11/2020-05-17
5225,Connect for Bose.,1.0,796.0,Business,2020-05-18,269.000000,Monday,2020Q2,2020-05-18/2020-05-24
5226,AirPlay to Apple TV.,1.0,131.0,Business,2020-05-15,269.000000,Friday,2020Q2,2020-05-11/2020-05-17
5227,Stream to ChromeCast.,1.0,823.0,Business,2020-12-05,269.000000,Saturday,2020Q4,2020-11-30/2020-12-06
5229,Agenda for Google Calendar.,1.0,648.0,Business,2020-05-19,269.000000,Tuesday,2020Q2,2020-05-18/2020-05-24
5230,Cast to ChromeCast.,1.0,751.0,Business,2020-05-19,269.000000,Tuesday,2020Q2,2020-05-18/2020-05-24
5231,Backup to Google Drive.,1.0,725.0,Business,2020-05-27,269.000000,Wednesday,2020Q2,2020-05-25/2020-05-31
5232,CAD Viewer.,1.0,837.0,Business,2020-05-13,269.000000,Wednesday,2020Q2,2020-05-11/2020-05-17
5234,AirPlay,1.0,847.0,Business,2020-06-17,269.000000,Wednesday,2020Q2,2020-06-15/2020-06-21
5235,Cast to TCL TV.,1.0,262.0,Business,2020-12-05,269.000000,Saturday,2020Q4,2020-11-30/2020-12-06
5236,Email Signature Creator,2.0,383.0,Business,2019-12-18,329.399994,Wednesday,2019Q4,2019-12-16/2019-12-22
5237,Viewer for Visio.,1.0,922.0,Business,2020-05-28,269.000000,Thursday,2020Q2,2020-05-25/2020-05-31
5239,Screen Mirror to LG Smart TV.,1.0,227.0,Business,2020-10-05,269.000000,Monday,2020Q4,2020-10-05/2020-10-11
5240,Screen Mirror to Apple TV.,1.0,138.0,Business,2020-10-05,269.000000,Monday,2020Q4,2020-10-05/2020-10-11
5241,Gantt Chart Maker.,1.0,342.0,Business,2020-05-15,549.000000,Friday,2020Q2,2020-05-11/2020-05-17
5242,Upload to Google Photos,2.5,239.0,Business,2020-05-21,269.000000,Thursday,2020Q2,2020-05-18/2020-05-24
5243,Client for Google Calendar..,1.0,889.0,Business,2020-11-05,269.000000,Thursday,2020Q4,2020-11-02/2020-11-08
5244,Screen Mirror to Sony TV.,1.0,343.0,Business,2020-05-15,269.000000,Friday,2020Q2,2020-05-11/2020-05-17
5245,Screen Mirror to Roku.,1.0,320.0,Business,2020-10-05,269.000000,Monday,2020Q4,2020-10-05/2020-10-11
5247,Connect for Sonos.,1.0,132.0,Business,2020-05-17,269.000000,Sunday,2020Q2,2020-05-11/2020-05-17
5248,Connect to iPhone / iPad,1.0,348.0,Business,2020-05-29,269.000000,Friday,2020Q2,2020-05-25/2020-05-31
5249,Mirror to Samsung TV,1.0,175.0,Business,2020-05-20,269.000000,Wednesday,2020Q2,2020-05-18/2020-05-24
5250,Client for Amazon Photos.,1.0,130.0,Business,2020-05-05,269.000000,Tuesday,2020Q2,2020-05-04/2020-05-10
5251,Cast to Samsung TV.,1.0,480.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5252,Viewer for Turbo Tax.,1.0,492.0,Business,2020-07-05,549.000000,Sunday,2020Q3,2020-06-29/2020-07-05
5253,Control for SmartThings.,1.0,736.0,Business,2020-05-25,269.000000,Monday,2020Q2,2020-05-25/2020-05-31
5254,EPS Viewer.,1.0,993.0,Business,2020-05-19,269.000000,Tuesday,2020Q2,2020-05-18/2020-05-24
5256,Stream to LG TV.,1.0,733.0,Business,2020-05-15,269.000000,Friday,2020Q2,2020-05-11/2020-05-17
5257,Universal Email App - Mail for All Mailbox,1.5,855.0,Business,2019-02-27,549.000000,Wednesday,2019Q1,2019-02-25/2019-03-03
5258,Cast to Roku.,1.0,241.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5261,eReader for Nook Books,1.0,265.0,Business,2020-05-15,269.000000,Friday,2020Q2,2020-05-11/2020-05-17
5262,Android Phone Manager.,1.5,275.0,Business,2020-05-20,269.000000,Wednesday,2020Q2,2020-05-18/2020-05-24
5263,MOV to MP4 Converter,1.0,928.0,Business,2020-06-19,269.000000,Friday,2020Q2,2020-06-15/2020-06-21
5264,Miracast..,1.5,932.0,Business,2020-01-07,269.000000,Tuesday,2020Q1,2020-01-06/2020-01-12
5265,Templates for Google Sheets.,1.0,948.0,Business,2020-05-15,549.000000,Friday,2020Q2,2020-05-11/2020-05-17
5266,Screen Mirror to Fire TV..,1.0,381.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5267,Remote for Sonos.,1.0,170.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5268,HEVC to MP4 Converter..,1.0,601.0,Business,2020-05-25,269.000000,Monday,2020Q2,2020-05-25/2020-05-31
5269,Sync for GoPro,1.0,919.0,Business,2020-09-06,269.000000,Sunday,2020Q3,2020-08-31/2020-09-06
5270,PSD Viewer.,1.0,868.0,Business,2020-09-05,269.000000,Saturday,2020Q3,2020-08-31/2020-09-06
5272,7-zip compressor,2.5,901.0,Developer Tools,2018-12-11,69.000000,Tuesday,2018Q4,2018-12-10/2018-12-16
5278,Centos7,2.0,324.0,Developer Tools,2019-10-15,109.000000,Tuesday,2019Q4,2019-10-14/2019-10-20
5282,Pkpass,1.0,455.0,Developer Tools,2015-03-10,54.000000,Tuesday,2015Q1,2015-03-09/2015-03-15
5287,Shadowsocks VPN,2.5,101.0,Developer Tools,2017-02-08,194.000000,Wednesday,2017Q1,2017-02-06/2017-02-12
5289,Neato BotVac Communication,1.0,897.0,Developer Tools,2020-09-04,54.000000,Friday,2020Q3,2020-08-31/2020-09-06
5291,Multilingual Translator,2.0,990.0,Developer Tools,2020-04-30,219.000000,Thursday,2020Q2,2020-04-27/2020-05-03
5296,Icon Converter,2.0,872.0,Developer Tools,2014-11-28,164.000000,Friday,2014Q4,2014-11-24/2014-11-30
5298,ResX/ResW Editor & Translator,1.0,968.0,Developer Tools,2019-09-18,54.000000,Wednesday,2019Q3,2019-09-16/2019-09-22
5302,Sprite Basic 2 Programming Language,2.5,878.0,Developer Tools,2018-08-31,434.000000,Friday,2018Q3,2018-08-27/2018-09-02
5307,IpTray,1.5,848.0,Developer Tools,2019-04-03,209.000000,Wednesday,2019Q2,2019-04-01/2019-04-07
5315,Visual Studio Image Scaler,1.0,756.0,Developer Tools,2017-05-15,54.000000,Monday,2017Q2,2017-05-15/2017-05-21
5317,JS King,1.0,720.0,Developer Tools,2018-07-19,269.000000,Thursday,2018Q3,2018-07-16/2018-07-22
5318,MQTTSniffer,2.5,500.0,Developer Tools,2017-10-04,64.000000,Wednesday,2017Q4,2017-10-02/2017-10-08

In [126]:
high_num_ratings = (df_ms['# of Ratings'] > 999)

# To include multiple columns in the result, use a list.
many_ratings = df_ms.loc[high_num_ratings,['Name', '# of Ratings','Category']]
many_ratings

                             Name  # of Ratings   Category
560           CDBS Facility Query          1000      Books
1929    Psychic Reader Paranormal          1000     Social
3260               Daily Panchang          1000  Lifestyle
3940  Guitar Lessons Beginners #1          1000      Music

In [ ]:
# Exclude the 'Books' category using the tilde character
high_num_ratings = (df_ms['No of people Rated'] > 997) & ~(df_ms['Category'] =='Books')

# To include multiple columns in the result, use a list.
df_ms.loc[high_num_ratings,['Name', 'No of people Rated','Category','Price']]

In [ ]:
# Only include certain categories. Use isin() instead of multiple OR statements
include_categories = ['Books', 'Lifestyle', 'Social', 'Music']
high_num_ratings = (df_ms['No of people Rated'] > 997) & (df_ms['Category'].isin(include_categories))
                                                          
# To include multiple columns in the result, use a list.
df_ms.loc[high_num_ratings,['Name', 'No of people Rated','Category']]

In [ ]:
# Find the Top 20 items by # of people rated
df_ms.nlargest(20, ['No of people Rated'])

In [ ]:
# Search for partial string within a column
#   To avoid None (NaN) errors, set na=False
string_filter = df_ms['Name'].str.contains('Psyc'.title(),na=False)
df_ms.loc[string_filter, "Name"]

In [ ]:
df_ms.describe()

In [ ]:
df_ms['Name'].unique()

In [ ]:
# What's happening? The filter results in a True/False 'mask' applied to the data
#   Since only 5 of more than 5,000 app names contain the string 'Pysc' all visible mask items are False
print(string_filter)

# Grouping and Aggregating Data

In this section, we will look at how to use the `groupby` Pandas method to aggregate data that resides in a Pandas DataFrame object. Essentiall, the `groupby` method allows us to define a subset of the columns in a DataFrame to aggregate on. We can then use defined and user-specifed functions to compute aggregate statistics for the aggregated data. The following table, modified from that found at https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html, describes some of the defined aggregations.

<table>
<thead><tr>
<th>Aggregation</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>count()</code></td>
<td>Total number of items</td>
</tr>
<tr>
<td><code>first()</code>, <code>last()</code></td>
<td>First and last item</td>
</tr>
<tr>
<td><code>mean()</code>, <code>median()</code></td>
<td>Mean and median</td>
</tr>
<tr>
<td><code>min()</code>, <code>max()</code></td>
<td>Minimum and maximum</td>
</tr>
<tr>
<td><code>std()</code>, <code>var()</code></td>
<td>Standard deviation and variance</td>
</tr>
<tr>
<td><code>mad()</code></td>
<td>Mean absolute deviation</td>
</tr>
<tr>
<td><code>prod()</code></td>
<td>Product of all items</td>
</tr>
<tr>
<td><code>sum()</code></td>
<td>Sum of all items</td>
</tr>
<tr>
<td><code>unique()</code></td>
<td>Unique values</td>
</tr>
<tr>
<td><code>nunique()</code></td>
<td>Number of unique values</td>
</tr>
</tbody>
</table>

The following code block demonstrates how to use the `groupby` method to compute the total sales for each of the stores included in the DataFrame.

In [ ]:
sales_data.groupby(['Store'])['Sales'].sum()

In [ ]:
# How would you group by product and display the total sales for each product?
sales_data.groupby(['Product'])['Sales'].sum()

The following code block provides a closer look at how the `groupby` method works. Specifically, if we convert the grouped object to a list, we see that we get a list of tuples. The first value in the tuple specifies the grouping, and the second item specifies the data that belongs to the associated group.

[Back to Table of Contents](#Table_of_Contents)<br>

In [ ]:
list(sales_data.groupby(['Store']))

If a single column is specified for grouping, any aggregations are returned as a `Series` object. Thus, we can access the values using the indexing and selection methods for `Series` objects. For example, the following code block shows how to get the total sales for store *E1*.

In [ ]:
sales_data.groupby(['Store'])['Sales'].sum()['E1']

If more than one column is specified for grouping, aggregated data is again returned as a `Series` object. However, this object will utilize a *multi-level* index as shown below.

In [ ]:
sales_data.groupby(['Store','Year'])['Sales'].sum()

To access the total sales for store *E1* during 2007, we first need to get the data for store *E1*, as shown below.

In [ ]:
sales_data.groupby(['Store','Year'])['Sales'].sum()['E1']

Then, we can index into the resulting `Series` to get the 2007 sales.

In [ ]:
sales_data.groupby(['Store','Year'])['Sales'].sum()['E1']['12/31/2007']

Essentially, when multiple columns are grouped on, the resulting aggregations can be accessed in a manner that is similar to a multi-level dictionary. If we would like the object returned to resemble a DataFrame instead, we can set the optional `as_index` argument to `False`. This is demonstrated below.

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].sum()

In addition to grouping on several columns, we can also perform several aggregations using the `agg` method. The following code block shows an example where we group the `sales_data` object by *Store* and *Year*, and then determine the *mean*, *total*, and *maximum* sales for each grouping.

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'mean','sum','max'})

As you can see in the previous code block, even though we specified `as_index = False`, the returned object still utilizes a multi-level index. However, by *chaining* the expression with the `reset_index()` method, we can obtain a standard DataFrame object as shown below.

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'mean','sum','max'}).reset_index()

We can also customize the column names as shown below.

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'Mean Sales':'mean',
                                                                     'Total Sales':'sum',
                                                                     'Maximum Sales':'max'}).reset_index()

Finally, in addition to using the defined aggregations, a user can specify custom aggregations using a *lambda function*. A *lambda function* is essentially a function without a defined name. To apply a lambda function, we use the syntax `lambda my_var: my_func(my_var)`, where `my_var` represents a variable that will be passed as an argument and `myfunc()` represents a function that receives `my_var` as an argument. In the case of our groupby object, the values belonging to each group will be passed as the variable.

The following code block shows how to use a lambda function to compute the $90^{th}$ percentile of the sales for each store, using NumPy's `percentile` method, along with the *mean*, *total*, and *maximum* sales for each store.

In [ ]:
sales_data.groupby(['Store','Year'], as_index = False)['Sales'].agg({'Mean Sales':'mean',
                                                                     'Total Sales':'sum',
                                                                     'Maximum Sales':'max',
                                                                     '90% Sales': lambda x: np.percentile(x, 90)}).reset_index()

It is also possible to perform different aggregations for different variables. However, it becomes quite complex to work with the returned objects. FOr more information, see https://pandas.pydata.org/pandas-docs/stable/groupby.html.

# Pivot Tables

The previous section showed how the `groupby` functionality available in Pandas allows you to aggregate data that resides in a `DataFrame` object in a very flexible manner. However, many users are very familiar with the aggregation capabilities made available by Microsoft Excel's pivot table functionality. Noting this, the Pandas package comes with a builtin `pivot_table` method that attempts to replicate this functionality in a simple fashion.

The following code block shows how to use this function to compute the `mean` sales for each store, by year.

In [ ]:
pd.pivot_table(sales_data, values = 'Sales', columns = 'Store', index = 'Year', aggfunc = 'mean')

The following code block shows how to use this function to compute the total sales for each store, by year.

In [ ]:
pd.pivot_table(sales_data, values = 'Sales', columns = 'Store', index = 'Year', aggfunc = 'sum')

In [ ]:
format_mapping = {"Sales": "${:,.2f}", "E2": "{:,.0f}", "W1": "{:.2f}%"}

sales_data.style.format(format_mapping)

In [ ]:
sales_data['Store'].unique()

# Combining Datasets

The final thing that we consider in this notebook is how to merge DataFrame objects. In particular, let's assume that we have another DataFrame object that includes information on each of the stores. The following code block creates such an object.

In [ ]:
stores_list = ['W1', 'E1', 'E2']

city_list = ['City A', 'City B', 'City C',]

state_list = ['State 1', 'State 2', 'State 2']

my_dict = {'Store': stores_list,
           'City': city_list,
           'State': state_list}

store_info = pd.DataFrame.from_dict(my_dict)

store_info

Let's assume that we want the total sales by state. To calculate this quantity, we first need to group the data in the `sales_data` object by store. This grouping is performed in the following code block, and the resulting object is stored in a new object called `grouped_data`.

In [ ]:
grouped_data = sales_data.groupby('Store', as_index = False)['Sales'].sum()
grouped_data

We can now use Pandas `merge` method to merge the `grouped_data` object with the `store_info` object. Since they both have a column that is named *Store*, the method will merge on this common column. This is shown below.

In [ ]:
grouped_data.merge(store_info)

We can now *chain* the `groupby` method to the end of the merged data to obtain the total sales by store as is shown in the following code block.

In [ ]:
grouped_data.merge(store_info).groupby('State', as_index = False)['Sales'].sum()

**Note that we could have performed the merging and aggregation in a single, *chained* statement as follows.**

In [ ]:
sales_data.groupby('Store', as_index = False)['Sales'].sum()\
.merge(store_info).groupby('State', as_index = False)['Sales'].sum()

Let's now consider the case where we don't have nformation for all of the stores. The following code block creates a new version of the `store_info` object where we only have information for stores *E1* and *W1*.

In [ ]:
stores_list = ['W1', 'E1', ]

city_list = ['City A', 'City B',]

state_list = ['State 1', 'State 2']

my_dict = {'Store': stores_list,
           'City': city_list,
           'State': state_list}

store_info2 = pd.DataFrame.from_dict(my_dict)

store_info2

The following code block shows the result of using the `merge` method to combine the `grouped_data` object with our new `store_info2` object. As you can see, with the default arguments, the returned object only includes records for stores included in both objects. Actually, the `method` is performing what is known as a *inner* where only records in both DataFrame objects are returned.

In [ ]:
grouped_data.merge(store_info2)

If we wanted the object returned to include records for all stores, even if one is missing in one of the DataFrames being joined, we can specify an *outer* join using the `how` argument. This is shown in the following code block. Since he `store_info2` object does not include any information for store *E2*, we will get a `NaN` value for the *City* and *State* columns of the associated row in the returned object.

In [ ]:
grouped_data.merge(store_info2, how = 'outer')

The Pandas package includes additional capabilities for joining DataFrame objects. For more info, see https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html.